[submodule "aihwkit"]
	path = aihwkit
	url = https://github.com/IBM/aihwkit.git
[submodule "mmwsdr"]
	path = mmwsdr
	url = https://github.com/nyu-wireless/mmwsdr.git
[submodule "pm4vr"]
	path = pm4vr
	url = https://github.com/imec-idlab/pm4vr.git
